<div class="alert alert-danger" ng-show="controller.error">
    There was a problem logging in. Please try again.
</div>
<!-- <form role="form" ng-submit="controller.login()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
            class="form-control" id="username" name="username" ng-model="controller.credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
            class="form-control" id="password" name="password" ng-model="controller.credentials.password"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
            class="form-control" id="password" name="password" ng-model="controller.credentials.password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div class="panel panel-primary" ng-controller="RegisterCtrl as registerCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="registerForm">     
            <div class="row">				
				  <div class="col-md-6">
				
					<div class="form-group">                
		                <label for="firstName" class="col-sm-3 control-label">First name</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="firstName" placeholder="First name..."
		                           ng-model="registerCtrl.model.firstName" required>
		                </div>
		            </div>	  
				  	
				  	<div class="form-group">
		                <label for="lastName" class="col-sm-3 control-label">Last name</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="lastName" placeholder="Last name..."
		                           ng-model="registerCtrl.model.lastName" required>
		                </div>
		            </div>
					
					<!-- <div class="form-group">
		                <label for="dateOfBirth" class="col-sm-3 control-label">Date of Birth</label>
		                <div class="col-sm-9">
		                    <input type="date" class="form-control" id="lastName" placeholder="Dat eof Birth..."
		                           ng-model="createCustomerCtrl.model.dateOfBirth" required>
		                </div>
		            </div>	 -->  
					
					<!-- <div class="form-group">
		                <label for="image" class="col-sm-3 control-label">Image</label>
		                <div class="col-sm-9">
		                    <input type="file" class="form-control" id="image" placeholder="Image..."
		                           file-model="createCustomerCtrl.model.image" required>
		                </div>
		            </div>	  --> 
		            <div class="form-group">
				        <label for="username" class="col-sm-3 control-label">Email:</label> 
				        <div class="col-sm-9">
				        	<input type="text"
				            	class="form-control" id="email" name="email" ng-model="registerCtrl.model.email" required/>
				         </div>
				    </div>
		            <div class="form-group">
				        <label for="password" class="col-sm-3 control-label">Password:</label> 
				        <div class="col-sm-9">
	        				<input type="password"
				            	class="form-control" id="password" name="password" ng-model="registerCtrl.model.password"/>
			          	</div>
				    </div>
				    <div class="form-group">
				        <label for="password" class="col-sm-3 control-label">Confirm Password:</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="password"
								name="password" ng-model="registerCtrl.model.confirmpassword" />
						</div>
					</div>	
				    <div class="form-group">
		                <div class="col-sm-offset-10 col-sm-12">		                
		                	<button ng-click="registerCtrl.register()" class="btn btn-primary" ng-disabled="saving"><i ng-show="saving" class="fa fa-refresh fa-spin fa-1x"></i> Register</button>	                    
		                </div>
		            </div>				  
				  </div>
				  
				  <!-- <div class="col-md-6">
					<div class="form-group">
		                <label for="street" class="col-sm-3 control-label">Street</label>		
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="street" placeholder="Street..."
		                           ng-model="createCustomerCtrl.model.address.street" required>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="town" class="col-sm-3 control-label">Town</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="town" placeholder="Town..."
		                           ng-model="createCustomerCtrl.model.address.town" required>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="county" class="col-sm-3 control-label">County</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="county" placeholder="County..."
		                           ng-model="createCustomerCtrl.model.address.county" required>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="postcode" class="col-sm-3 control-label">Postcode</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="lastName" placeholder="Postcode..."
		                           ng-model="createCustomerCtrl.model.address.postcode" required>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <div class="col-sm-offset-10 col-sm-12">		                
		                	<button ng-click="createCustomerCtrl.add()" class="btn btn-primary" ng-disabled="saving"><i ng-show="saving" class="fa fa-refresh fa-spin fa-1x"></i> Save</button>	                    
		                </div>
		            </div>	  				  
				  </div>	 -->		
				</div>      
        </form>
    </div>
</div>