<div class="main-container col1-layout" ng-controller="LoginCtrl as loginCtrl">
            <div class="container">
                <div class="main">
                    <div class="col-main">

                        <div class="account-login">
                            <div class="page-title">
                                <h1>Login or Create an Account</h1>
                            </div>
                            <form  method="post" id="loginform">
                                <input name="form_key" type="hidden" value="6eEWHcxhaD3YbCx2" />
                                <div class="col2-set">
                                    <div class="col-1 new-users">
                                        <div class="content">
                                            <h2>New Customers</h2>
                                            <p>By creating an account you will have access to like/unlike deals and be the first to know about awesome deals.</p>
                                        </div>
                                    </div>
                                    <div class="col-2 registered-users">
                                        <div class="content">
                                            <h2>Registered Customers</h2>
                                            <p>If you have an account with us, please log in.</p>
                                            <ul class="form-list">
                                                <li>
                                                    <label for="email" class="required"><em>*</em>Email Address</label>
                                                    <div class="input-box">
                                                        <input type="text" name="userName" placeholder="Email" id="email" class="input-text required-entry validate-email" title="Email Address" ng-model="email" required/>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label for="pass" class="required"><em>*</em>Password</label>
                                                    <div class="input-box">
                                                        <input type="password" name="password" class="input-text required-entry validate-password" id="password" title="Password" ng-model="password"/>
                                                        
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="required">* Required Fields</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2-set">
                                    <div class="col-1 new-users">
                                        <div class="buttons-set">
                                            <button type="button" title="Create an Account" class="button" onclick="/register"><span><span>Create an Account</span></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 registered-users">
                                        <div class="buttons-set">
                                            <a href="/forgetpassword" class="f-left">Forgot Your Password?</a>
                                            <!-- <button ng-click="loginCtrl.login()" class="button" ng-disabled="saving"><i ng-show="saving" class="fa fa-refresh fa-spin fa-1x"></i> Login</button> -->
                                            <button ng-click="loginCtrl.login()" class="button" title="Login" name="send" ng-disabled="saving"><span><span><i ng-show="saving" class="fa fa-refresh fa-spin fa-1x"></i>Login</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- /.main -->


</div>